.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
    padding: 0.25rem 1rem;
    background-color: #f7f7f7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    border-radius: 0.25rem;
    font-size: 1.2rem;

}
.btn{
    font-size: 1.3rem;
    margin-left: 0.8rem;
    cursor: pointer;
}
.btn:hover{
    color: orange;
}