body{
    background-color: #242524;
}

.container{
    background-color: white;
    padding: 1.2rem;
    width: 90vw;
    margin: 8rem auto;
    max-width: 35rem;
    border-radius: 1rem;
}

.form-control{
    display: flex;
    flex-direction: column;
    
}

h1{
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
}

.text-input{
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.35rem;
}
.submit-btn-group{
    display: flex;
    justify-content: space-between;
}
.submit-btn{
    margin-top: 0.75rem;
    width: 100%;
    height: 40px;
    background-color: #04AA6D;
    color: white;
    font-weight: 800;
    font-size: 0.8rem;
    cursor: pointer;
    border: transparent;
    border-radius: 0.35rem;
}
.submit-btn:hover{
    background-color: #3e8e41;
}
.submit-btn.true{
    background-color: rgb(255, 170, 0);
    width: 49%;
}
.submit-btn.true:hover{
    background-color: rgb(255, 132, 0);
}
.submit-btn.true.cancel{
    background-color: rgb(255, 85, 85);
}
.submit-btn.true.cancel:hover{
    background-color: rgb(255, 54, 54);
}